@font-face {
  font-family: 'CustomFont';
  src: url('./fonts/Quicksand-Bold.ttf') format('truetype'),
       url('./fonts/Quicksand-SemiBold.ttf') format('truetype');
  /* Add more src formats if necessary */
}

body, html {
  font-family: 'CustomFont', sans-serif !important; 
  height: 100%;
  margin: 0;
}

.div{
  min-height: 100vh; /* Make sure it covers the entire viewport height */
}

.move-left {
  position:relative;
  left: 15px
}

.dark-mode {
  background-color: #343a40 !important;
}
.dark-mode .container{
  color: #ffffff !important;
}
.dark-mode .navbar  {
  background-color: #343a40 !important;
  border-bottom: 2px solid #ffffff;
}




.dark-mode .navbar-dark .navbar-brand {
  color: #ffffff !important;
  
  
}

.dark-mode .navbar-brand img {
  margin-right: 10px;
}

.custom-heading {
  font-family: 'CustomFont', sans-serif !important; 
  color: #ffffff !important;
}

.custom-paragraph {
  font-family: 'CustomFont', sans-serif !important;
  color: #ffffff !important;
}

.dark-mode .btn-primary  {
  background-color: #907fff !important;
  border-color: #907fff !important;
}

.dark-mode .bg-primary {
  background-color: #907fff !important;
}
.spec-icons{
  border-radius: 50%; /*Ensure the element remains circular */
  
}

.wow-DeathKnight{
  color: #C41E3A !important;;
}
.wow-DemonHunter{
  color: #A330C9 !important;;
}
.wow-Druid{
  color: #FF7C0A !important;;
}
.wow-Evoker{
  color: #33937F !important;;
}
.wow-Hunter{
  color: #AAD372 !important;;
}
.wow-Mage{
  color: #3FC7EB !important;;
}
.wow-Monk{
  color: #00FF98 !important;;
}
.wow-Paladin{
  color: #F48CBA !important;;
}
.wow-Priest{
  color: #FFFFFF !important;;
}
.wow-Rogue{
  color: #FFF468 !important;;
}
.wow-Shaman{
  color: #0070DD !important;;
}
.wow-Warlock{
  color: #8788EE !important;;
}
.wow-Warrior{
  color: #C69B6D !important;;
}



.no-tier{
  color: #ffffff; /*change this to rarity*/
}